.flex-half {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-1 {
  display: flex;
  flex: 1 1 1rem;
}

.flex-3 {
  display: flex;
  flex: 3 3;
  flex-direction: row;
  text-align: center;
}

.flex-3 .mat-input-prefix {
  align-self: flex-end;
}

#nav_bar_right {
  vertical-align: center;
}

.center {
  align-self: center;
}

.flex-column {
  flex-direction: column;
} 

.font-small {
  font-size: 0.5rem;
}

a, span {
  text-decoration: none;
}

.flex-shrink {
  flex-shrink: 3;
}
