<mat-card class='main-panel'>
  <mat-card-header>
    <div mat-card-avatar class='logo-container'></div>
    <mat-card-title><h1>SmartReach</h1></mat-card-title>
    <mat-card-subtitle>Find the right customers</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class='flex-space-evenly'>
    <mat-icon 
      class='large-icon flex-1 highlight'
      (mousedown)='scrollLeft(true)' 
      (mouseup)='scrollLeft(false)'
    >keyboard_arrow_left</mat-icon>
    <span id='js-scroll-box' class='flex-3 flex-space-evenly'>
      <span class='circle'>5</span>
      <span class='circle'>$90k</span>
      <span class='circle'>2%</span>
      <span class='circle'>100</span>
    </span>
    <mat-icon
      class='large-icon flex-1 highlight'
      (mousedown)='scrollRight(true)'
      (mouseup)='scrollRight(false)'
    >keyboard_arrow_right</mat-icon>
  </mat-card-content>
</mat-card>
