<mat-card class='main-panel'>
  <mat-card-header>
    <div mat-card-avatar class='logo-container' (click)='openModal()'></div>
    <span class='flex-1 text-left'>
      <mat-card-title><h1>SmartReach</h1></mat-card-title>
      <mat-card-subtitle>Find the right customers for businesses</mat-card-subtitle>
    </span>
  </mat-card-header>
  <mat-card-content class='flex-space-evenly'>
    <mat-icon 
      class='large-icon flex-1 highlight'
      (mousedown)='scrollLeft(true)' 
      (mouseup)='scrollLeft(false)'
    >keyboard_arrow_left</mat-icon>
    <span id='js-scroll-box' class='flex-3 flex-space-evenly'>
      <span class='flex-1'>
        <h4  class='circle-title font-arvo'>Product Innovation</h4>
        <div class='circle'>5</div>
        <div>New Modules</div>
      </span>
      <span class='flex-1 '>
        <h4  class='circle-title'>Sales</h4>
        <div class='circle-title'>
          <div class='circle'>5</div>
        </div>
        <div>Sales Growth</div>
      </span>
      <span class='flex-1'>
        <h4 class='circle-title'>Product Maintenance</h4>
        <div class='circle'>5</div>
        <div>Product Downtime</div>
      </span>
      <span class='flex-1'>
        <h4 class='circle-title'>Marketing</h4>
        <div class='circle'>5</div>
        <div>Leads Generated</div>
      </span>
    </span>
    <mat-icon
      class='large-icon flex-1 highlight'
      (mousedown)='scrollRight(true)'
      (mouseup)='scrollRight(false)'
    >keyboard_arrow_right</mat-icon>
  </mat-card-content>
</mat-card>
