<mat-card class='main-panel'>
  <mat-card-header>
    <div mat-card-avatar class='logo-container'></div>
    <mat-card-title><h1>SmartReach</h1></mat-card-title>
    <mat-card-subtitle>Find the right customers</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-icon class='large-icon left'>keyboard_arrow_left</mat-icon>
    <span class='circle'>5</span>
    <span class='circle'>$90k</span>
    <span class='circle'>2%</span>
    <span class='circle'>100</span>
    <mat-icon class='large-icon right'>keyboard_arrow_right</mat-icon>
  </mat-card-content>
</mat-card>
