/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.font-arvo {
  font-family: 'Arvo', serif;
}

.font-nunito {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-family: 'Arvo', serif;
  font-size: '24pt';
  color: #595959;
}

.bg-white {
  background-color: white;
}

.spirit-orange {
  color: #FFAA00;
}

.mind-blue {
  color: #407FAE;
}

.heart-red {
  color: #FC7165;
}

.body-green {
  color: #46B3B3;
}

.light-gray {
  color: #F2F2F2;
}

.medium-gray {
  color: #E2E2E2;
}

.deep-gray {
  color: #595959;
}

.bg-spirit-orange {
  background-color: #FFAA00;
}

.bg-mind-blue {
  background-color: #407FAE;
}

.bg-heart-red {
  background-color: #FC7165;
}

.bg-body-green {
  background-color: #46B3B3;
}

.bg-light-gray {
  background-color: #F2F2F2;
}

.bg-medium-gray {
  background-color: #E2E2E2;
}

.bg-deep-gray {
  background-color: #595959;
}

html, app-root, app-main, body {
  background-color: rgba(255,255,255,0.5);
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.flex-1 {
  flex: 1 1 10%;
}

.flex-2 {
  flex: 2 2 20%;
}

.flex-3 {
  flex: 3 3 30%;
}

.flex-column {
  display: inline-flex;
  flex-direction: column;
}

.main-panel {
  margin: 2rem;
}

.highlight {
  cursor: default;
}

.highlight:hover {
  animation: highlightFont 250ms forwards;
}

.highlight:not(:hover) {
  animation: notHighlightFont 250ms forwards;
}

@keyframes highlightFont {
  from { color: rgba(0,0,0, 1); }
  to { color: rgba(0,0,0,0.5); }
}

@keyframes notHighlightFont {
  from { color: rgba(0,0,0,0.5); }
  to { color: rgba(0,0,0, 1); }
}

mat-card.mat-card {
  border-radius: 10px;
}

div.mat-form-field-flex {
  padding-top: 5px;
  align-items: flex-end;
}

.mat-form-field-can-float.mat-form-field-should-float {
  color: rgba(100,100,100,0.5);
}

.mat-form-field-can-float.mat-form-field-should-float label.mat-form-field-label {
  color: rgba(100,100,100,0.5);
  transform: translateY(-0.5em) scale(.75) perspective(100px) translateZ(.001px);
}
