<mat-card id='notification_menu' class='main-panel'>
       <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
<mat-list>
  <mat-list-item *ngFor="let notice of notices">
   <img matListAvatar src="{{notice.profileUrl}}" alt="{{notice.userName}}">
    <p matLine>
      <span><b>{{notice.userName}}</b> {{notice.message}} </span>
    </p>
    <p matLine class='text-end'>
        <mat-icon>favorite_border</mat-icon>{{notice.favorites}}
        <mat-icon>comment</mat-icon>{{notice.comments}}
    </p>
  </mat-list-item>
</mat-list>

</mat-card>
