<mat-card id='notification_menu' class='main-panel'>
<mat-list>
  <mat-list-item>
   <img matListAvatar src="{{user.picture.thumbnail}}" alt="{{user.email}}">
   <p class='flex-1' matLine>
     <mat-form-field class="new_post">
       <input matInput placeholder="New post..." (keypress)="newPost($event)" [(ngModel)]="message" />
     </mat-form-field>
   </p>
  </mat-list-item>
  <mat-list-item *ngFor="let notice of notices">
   <img matListAvatar src="{{notice.profileUrl}}" alt="{{notice.userName}}">
    <p matLine>
      <span><b>{{notice.userName}}</b> {{notice.message}} </span>
    </p>
    <p matLine class='text-end'>
        <mat-icon class='highlight'>favorite_border</mat-icon>{{notice.favorites}}
        <mat-icon class='highlight'>comment</mat-icon>{{notice.comments}}
    </p>
  </mat-list-item>
</mat-list>

</mat-card>
